<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../../dist/output.css' rel='stylesheet'>
    <title>Login section</title>
</head>
<body>
    <div>
        <section class="container mx-auto">
        <div class="mx-5">
                  <img
                    src='../../images/logo.png'
                    class="  mt-8 mx-8 ml-0"
                  />
                </div>
          <div class="min-h-screen w-full  text-gray-900 flex justify-center">
            
      
            <div class=" m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center ">
              <div class=" p-6 sm:p-12">
                
                <div class=" w-full flex flex-col items-center">
                  <h1 class="text-2xl xl:text-3xl font-bold py-3">
                    Log in or Sign up
                  </h1>
                  <h3 class="text-sm text-lightgray w-4/6">Join millions of others in sharing successful moves on <span class="text-gray-800 font-semibold">HelpMeOut.</span></h3>
                  <div class="w-full flex-1 mt-8">
                    <div class="flex flex-col items-center">
                      <button class="w-full  font-bold shadow-sm rounded-lg py-2 border border-herotext text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline">
                        <div >
                          <img src='../../images/Google svg.png' alt="google-logo" />
                        </div>
                        <span class="ml-4 text-herotext font-medium" onClick={handleGoogleSignIn}>Continue with Google</span>
                      </button>
  
                      <button class="w-full font-bold shadow-sm rounded-lg py-2 border border-herotext text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline mt-5">
                        <div>
                          <img src='../../images/Facebook svg.png' alt="facebok-logo"/>
                        </div>
                        <span class="ml-4 text-herotext font-medium" onClick={handleFacebookLogin}>Continue with Facebook</span>
                      </button>
                    </div>
  
                    <div class="my-12 border-b text-center">
                      <div class="leading-none px-3 inline-block text-sm text-lightergray tracking-wide font-medium bg-white transform translate-y-1/2">
                        or 
                      </div>
                    </div>
  
                    <div class="mx-auto w-full">
                      <form class="flex justify-start flex-col" onSubmit={handleLogin}>
                    
                    <div class="text-start py-3">
                    <label class="font-semibold text-xs font-medium py-2 text-start" for="usernameField"> Email</label>
                      <input
                        class="w-full px-4 py-3 rounded-lg font-medium  border border-gray-400 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                        type="email"
                        value={email}
                        required
                        
                        placeholder="Enter your email address"
                      />
                      </div>
                      <div class="text-start">                     <label class="font-semibold py-2 text-xs font-medium text-start" for="password">Password</label>
                      <input
                        class="w-full px-4 py-3 rounded-lg font-medium  border border-gray-400 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white "
                        type="password"
                        required
                        value={password}
                       
                        placeholder="Enter your Password"
                      />
                      </div>
                      <button type="submit" class="mt-5 tracking-wide font-semibold bg-bluetwo text-gray-100 w-full py-3 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                        
                        <span class="ml-3">Sign Up</span>
                      </button>
                      </form>
                      
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
           
          </div>
        </section>
      </div>
</body>
</html>