<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../dist/output.css" rel="stylesheet"/>
</head>
<body>
    <section>
        <div class='my-10 ' id='features'>
            <section class='lg:h-screen h-full bg-white'>
    <header class='text-center py-5'>
        <h1 class='text-6xl font-bold py-3'>Features</h1>
        <h3 class='text-xl text-gray-600'>Key Highlights of Our Extension</h3>
    </header>
    <main class='grid container my-5 mx-auto lg:grid-cols-2 grid-cols-1'>
        <div>
            <div class='flex w-5/6 p-3'>
    <img src='../../images/Icon placeholder.png'  class='h-10 mt-1 w-10' alt='screen record'/>
    <div class='text-start px-3'>
    <h1 class='text-check font-semibold text-2xl'>Simple Screen Recording</h1>
    <h3 class='text-xl text-textgray py-1 '>Effortless screen recording for everyone, Record with ease, no tech expertise required.</h3>
    </div>
    
            </div>
            <div class='flex w-5/6 p-3'>
    <img src='../../images/Icon placeholder (1).png' class='h-10 mt-1 w-10' alt='screen record'/>
    <div class='text-start px-3'>
    <h1 class='text-check font-semibold text-2xl'>Easy-to-Share URL</h1>
    <h3 class='text-xl text-textgray py-1 '>Share your recordings instantly with a single link. No attachments, no downloads.</h3>
    </div>
    </div> <div class='flex w-5/6 p-3'>
    <img src='../../images/Icon placeholder (2).png' class='h-10 mt-1 w-10' alt='screen record'/>
    <div class='text-start px-3'>
    <h1 class='text-check font-semibold text-2xl'>Revisit Recordings</h1>
    <h3 class='text-xl text-textgray py-1 '>Access and review your past content effortlessly, Your recordings, always at your fingertips.</h3>
    </div>
    </div>
        </div>
        <div>
            <img src='../../images/Video Repository.png' alt='video-repo'/>
        </div>
    </main>
            </section>
        </div>
    </section>
</body>
</html>