<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='../../dist/output.css' rel='stylesheet'>
    <title>Footer Section</title>
</head>
<body>
    <div id="footer">
    <section class='bg-bluetwo h-full px-2 lg:h-1/2 py-10'>
        <div class='grid lg:grid-cols-4 text-white container mx-auto py-5 text-start md:grid-cols-3 grid-cols-2'>
    <div class=''>
        <img src='../../images/footer.png' alt='logo' />
    </div>
    <div>
        <ul>
            <li class='font-semibold py-2'>
    Menu
            </li>
            <li class='py-2'>
                Home
            </li>
            <li class='py-2'>
                Converter
            </li>
            <li class='py-2'>
                How it Works
            </li>
        </ul>
    </div>
    <div>
    <ul>
            <li class='font-semibold py-2'>
    About us
            </li>
            <li class='py-2'>
                About
            </li>
            <li class='py-2'>
                Contact Us
            </li>
            <li class='py-2'>
                Privacy Policy
            </li>
        </ul>
        
    </div>
    <div>
    <ul>
            <li class='font-semibold py-2'>
    Screen Record
            </li>
            <li class='py-2'>
            Browser Window
            </li>
            <li class='py-2'>
                Desktop
            </li>
            <li class='py-2'>
                Application
            </li>
        </ul>
    </div>
        </div>
    </section>
    </div>
</body>
</html>