<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='../../dist/output.css' rel='stylesheet'>
    
    <title>Nav section</title>
</head>
<body>
    <div class="h-16 z-50 w-full fixed bg-white shadow-lg" id="nav">
        <section class="fixed mx-auto"> 
          <nav class="flex flex-col xl:flex-row  w-screen">
            <div class="container mx-auto flex flex-row justify-between items-center items-start">
              <div class="flex lg:block  lg:w-48 ">
                <a href="#home" class="text-3xl font-bold font-heading">
                  <img src='../../images/logo.png' alt="logo" />
                </a>
              </div>
              <ul
                class='flex flex-row lg:space-x-7 px-4  font-medium text-black font-heading'
              >
                <li class="py-3 lg:py-0 cursor-pointer px-3">
              <a href="features">
                    Features
                </a>
                </li>
                <li class="py-3 lg:py-0 cursor-pointer px-3 whitespace-nowrap">
                <a href="#work">
                    How It Works
                </a>
                </li>
              </ul>

              <div class='flex items-center text-bluetwo text-lg font-bold mx-4 space-y-5 py-3 '>
                <a href="../Login/Login.html" class="text-textblue mx-4 font-medium px-4 text-bluetwo whitespace-nowrap">
                  Get Started
                </a>
              </div>
            </div>
          </nav>
        </section>
      </div>
     
</body>
</html>