<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href='../../dist/output.css' rel='stylesheet'>
    <title>Work section</title>
</head>
<body>
    <div class='bg-white h-full ' id='work'>
        <header class='py-10'>  
<h1 class='py-5 text-herotext font-bold text-4xl text-center'>How it works</h1>
<div class='container mx-auto'>
<section class='grid lg:grid-cols-3 grid-cols-1 gap-4'> 
<div class='text-center'>
    <div class='my-4 flex justify-center'>
<img src='../../images/Icon (2).png' alt='numberone'/>
    </div>
<h1 class='text-2xl font-semibold text-check'> Record Screen</h1>
<div class='py-3 text-xl text-textgray px-7'>Click the "Start Recording" button in our extension. choose which part of your screen to capture ad who you want to send it to.</div>
<div class='flex items-center mx-auto justify-center'>
    <img src='../../images/rec-1.cb7888a47e24214aeb105805426a8300.svg.png' alt='record'/>
</div>
</div>
<div class='text-center'>
    <div class='my-4 flex justify-center'>
<img src='../../images/Icon (1).png' alt='numberone'/>
    </div>
<h1 class='text-2xl font-semibold text-check'>Share Your Recording</h1>
<div class='py-3 text-xl text-textgray  px-7'>We generate a shareable link for your video. Simply send it to your audience via email or copy the link to send via any platform.</div>
<div class='flex items-center mx-auto justify-center'>
    <img src='../../images/rec-1.cb7888a47e24214aeb105805426a8300.svg (1).png' alt='record'/>
</div>
</div>
<div class='text-center'>
    <div class='my-4 flex justify-center'>
<img src='../../images/Icon.png' alt='numberone'/>
    </div>
<h1 class='text-2xl font-semibold text-check'>Learn Effortlessly</h1>
<div class='py-3 text-xl text-textgray px-7'>Recipients can access your video effortlessly through the provided link, with our user-friendly interface suitable for everyone.</div>
<div class='flex items-center mx-auto justify-center'>
    <img src='../../images/rec-1.cb7888a47e24214aeb105805426a8300.svg (1).png' alt='record'/>
</div>
</div>
</section>
</div>
        </header>
        </div>
      
</body>
</html>