<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../../dist/output.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <section class=''>
        
        <nav class='flex justify-between container mx-auto h-20 items-center'>
            <div>
                <img src='../../images/logo.png' alt='logo'/>
            </div>
            <div>
                <div class='flex items-center'>
                    <img src='../../images/profile-circle.png' alt='user-profile' class='h-8 w-8' />
                    <h3 class='px-2 text-herotext '>John Mark</h3>
                    <img src='../../images/arrow-downs.png' alt='arrow-down' class='h-6 w-6'/>
                </div>
            </div>
        </nav>
        <div class='flex justify-between container mx-auto h-24 my-4 items-center'>
            <div>
                <h1 class='text-3xl font-bold text-herotext'>Hello, John Mark</h1>
          <h3 class='text-lg text-gray-600 py-1'>Here are your recorded videos</h3>
            </div>
<div>
<div class="relative">
<input
class="bg-gray-100 border border-searchborder rounded-lg w-96 h-16 px-12  text-searchtext"
placeholder="Search for a particular video"
/>
<img src='../../images/search-normal.png' alt='search-icon'  class="text-gray-400 absolute top-1/2 transform -translate-y-1/2 left-5"/>

</div>

</div>
        </div>
        <div>
            <div class='border border-gray-100'></div>
        </div>
        <div class='container mx-auto overflow-y-auto h-96'>
<h3 class='py-5 text-lg text-start text-herotext font-medium'>Recent files</h3>
<div class='my-5 grid lg:grid-cols-2 gap-5 grid-cols-1'>
<div>
<img src='../../images/WEB CARD.png' alt='web-card'/>
</div>
<div>
<img src='../../images/WEB CARD (1).png' alt='web-card'/>
</div>

</div>
<h3 class='py-5 text-lg text-start text-herotext font-medium'>Files from Last week</h3>
<div class='my-5 grid lg:grid-cols-2 gap-5 grid-cols-1'>
<div>
<img src='../../images/WEB CARD (2).png' alt='web-card'/>
</div>
<div>
<img src='../../images/WEB CARD (3).png' alt='web-card'/>
</div>

</div>
        </div>
    </section>
</body>
</html>